
.content {
    color: #373a47;
    padding-bottom: 3em;

    .header {
        position: relative;
        width: 100%;
        top: 0;
        //background: #b3b9d0;
        text-align: center;
        font-size: 1.5em;
        padding: 1.5em 0 0.5em;
        margin: 0 0 1em;
        font-weight: bold;
        z-index: 999;

        .camera {
            color: inherit;
            position: fixed;
            display: inline-block;
            right: 0;
            top: 0;
            z-index: 1000;
            margin: 1rem;
            width: 5rem;
            height: 4.5rem;
            font-size: 2.2rem;
            line-height: 3.5rem;
            padding: 0;
            border: none;
            background: transparent;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
        }
    }

    .container {
        width: 100%;
        padding: 0 1em;
        margin: 0 auto;
        position: relative;

        .input {
            margin-bottom: 1em;

            :global(.el-textarea__inner) {
                border-radius: 0.5em;
            }
        }

        .output {
            width: 100%;
            max-width: 512px;
            margin: 0 auto;

            .qrcode {
                margin: 0 auto;
                display: block;
                border-radius: 0.5em;
            }
        }
    }

    img.qrcode, .qrcode img {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        border: 0.5em solid white;
        box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);
    }

    .result {
        display: block;
    }

    .history {
        border-radius: 0.5em;
        padding: 0 0.5em;
        background: #ffffff;
        margin: 0 auto;
        max-width: 512px;
    }

    @media (min-width: 768px) {
        .container {
            width: 768px;

            .result {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;

                .output-box {
                    flex: 1;
                }

                .history {
                    width: 512px;
                    margin-right: 1em;
                }
            }
        }
    }
    @media (min-width: 1100px) {
        .container {
            width: 1024px;
        }
    }

    // Scanner

    .scanner-btn {
        display: flex;
        min-height: 300px;
        padding: 0.5em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: #606266;
            font-size: 14px;
            margin: 0.5em;
        }

        p.result {
            color: #303133;
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            max-width: 100%;
            word-break: break-all;
        }
    }

    .preview-camera {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        z-index: 10001;
        display: none;

        &.show {
            display: flex;
            justify-content: center;
        }
        .close{
            width: 100%;
            position: fixed;
            bottom: 20px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            .item{
                color: #373a47;
                width: 80px;
                height: 80px;
                background: white;
                cursor: pointer;
                border-radius: 50%;
                font-size: 50px;
                line-height: 70px;
            }
        }
        ._close {
            position: fixed;

            text-align: center;
            bottom: 20px;
        }
        .chooseCamera{
            position: fixed;
            color: #373a47;
            width: 100px;
            text-align: center;
            bottom: 150px;
            z-index: 10002;
        }
    }

    &.drop{
        .scanner-btn{
            border: 1px dashed #ccc;
            background: #f5f7fa;
        }
    }
}